### Exercise 1
1. Define a list called `random_things` that is at least 4 elements long.  The data is completely up to you, but it must contain at least 1 `str` and 1 `float`. 
2. Use the ``len`` function to check if your list is indeed 4 elements long.

In [1]:
# your code goes here

random_things = ['one', 'two', 3, 4.0]
len(random_things)

4

### Exercise 2

1. The list below contains a few spelling errors. Correct the entries in the list **by accessing an element by its index** and assigning a new string.
    - Change "Petre" to "Peter"
    - Change "Monika" to "Monica"
    - Change "george" to "George" (capitalize it)
    
2. Access the name "Louis" from the list. Then access the last two characters of that string and print them backwards.

In [2]:
# DON'T CHANGE ANYTHING UP HERE!
people = ["Petre","Joanna","Louis","Angie","Monika","george"]
# DON'T CHANGE ANYTHING UP HERE!

# your code goes here

In [ ]:
print(people)
people[0] = 'Peter'
#print again to see that the first element of the list has changed to 'Peter' now
print(people)

In [ ]:
#find the index i.e. position of the item Monika
print(people.index('Monika'))
#replace Monika with Monica whereever it is. This will only work for the first instance of 'Monika'!
people[people.index('Monika')] = 'Monica'

In [ ]:
#we can comfortable access the last item in the list, 'george', by using the minus syntax in slicing
people[-1] = 'George'

In [3]:
#get the last two letters of Louis and print them backwards:
print(people[2][-1:2:-1])

#you can also do this stepwise:
louis = people[2]
last_two = louis[-1:2:-1]
print(last_two)

si
si

### Exercise 3: Quiz
- **Question 1**: Given a list `numbers = [1,2,3,4]`  - what does `numbers[::-1]`  return?

    (a) `[1,2,3,4]`  
    (b) `[1,4]`  
    (c) `[4,3,2,1]`  
    (d) `[4]`  
    
- **Question 2**: Given a list `numbers = [1,2,3,4]`  - what does `numbers[1:3]`  return?

    (a) `[1,2,3]`  
    (b) `[2,3]`   
    (c) `[2,3,4]`  
    (d) `[1,2]`  
    (e) `[3]`  
    
- **Question 3**: Given a list `numbers = [1,2,3,4]`  - what does `numbers[-2]`  return?

    (a) `[3]`  
    (b) `3`  
    (c) `[1,2,3]`  
    (d) `[2]`  
    (e) `2`

In [4]:
numbers = [1,2,3,4]

In [5]:
#Q1
numbers[::-1]

[4, 3, 2, 1]

In [6]:
#Q2
numbers[1:3]

[2, 3]

In [7]:
#Q3
numbers[-2]

3

## Exercise 4:

Create a list called instructors

1. Add the following strings to the instructors list 
* "Marc"
* "Rita"
* "Henry"

2. Remove the last value in the list

3. Add the string "Done" to the beginning of the list

4. Print to make sure you did this right

In [8]:
#declare list
i = ["Marc","Rita","Henry"]

# Remove the last value in the list
del i[-1]
print(i)

# Remove the first value in the list
 
# Add the string "Done" to the beginning of the list
i.insert(0, 'Done')
print(i)

# Print to make sure you did this right

['Marc', 'Rita']
['Done', 'Marc', 'Rita']

### Exercise 5: Quiz
1. Question: What method here does not add one or more elements to a list?
    1. extend
    2. add (x)
    3. append  
    4. insert

`add` is a method of sets, not lists.

2. Question: Given a list `numbers = [1,2,3]` how would you access the first element in the list?

`numbers[0]`

3. Question: Given a list `numbers = [1,2,3]` what would the result of `numbers.pop(5)` be?
    
    1. `None`
    2. `IndexError` (x)
    3. `3`

`Numbers` only has 3 elements, we cannot remove 5.

4. Question: Which of the following is not true about lists:
    1. You can only store basic data types in it 
    2. The index starts at 1 (x)
    3. They are collections of elements
    
Indices in python always start at 0.

## Exercise 6

1. Examine the three examples below: Is there a difference between case a) and case b)? 

**Example 1:**
```python
first_set.difference(second_set)     # case a)
second_set.difference(first_set)     # case b)
```

There is a difference since set differences are by definition directional. `first_set.difference(second_set)` are the elements in `first_set` that are not in `second_set`. 

**Example 2:**
```python
first_set.intersection(second_set)     # case a)
second_set.intersection(first_set)     # case b)
```

**Example 3:**
```python
first_set.union(second_set)     # case a)
second_set.union(first_set)     # case b)
```

The intersection and union of two sets are not directional and there is therefore no difference.

2. Can you think of a use case in which it makes more sense to use a ``set`` than a ``list``? And vice versa: when does it make more sense to use a ``list`` instead of a ``set``?

Sets are composed of unique elements, therefore the preferable data structure if each element can only occur once. They are intrinsically unordered which speeds up look-up compared to lists. 

Lists have an order unlike sets and therefore preserve the order in which elements where added. Look-up can become slow with large lists since the entire list needs to be traversed to find out whether it contains element x or not.

### Exercises 7

1. Create a dictionary with 4 elements.
2. List the keys in the dictionary.
3. List the values in the dictionary.
4. Create a dictionary where values are lists (i.e countries (keys), cities (values)) and access one of the keys and one of the values in the list.
5. Add another country and its list of cities.
6. Remove one of the countries and its elements.

In [11]:
#1
d = {'name': 'John Doe',
     'age': 40,
     'BMI': 25,
     'smoker': True}

In [ ]:
#2
d.keys()

In [ ]:
#3
d.values()

In [ ]:
#4
d2 = {'Denmark': ['Copenhagen', 'Esbjerg'],
      'France': ['Paris', 'Lyon'],
      'UK': ['London','Bristol']}

d2['Denmark'][0]

In [ ]:
#5
d2['Italy'] = ['Rome', 'Napoli']
d2

In [ ]:
#6 
del d2['UK']
d2