<img src="https://github.com/Center-for-Health-Data-Science/PythonTsunami/blob/spring2022/figures/HeaDS_logo_large_withTitle.png?raw=1" width="300">

<img src="https://github.com/Center-for-Health-Data-Science/PythonTsunami/blob/spring2022/figures/tsunami_logo.PNG?raw=1" width="600">

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Center-for-Health-Data-Science/PythonTsunami/blob/spring2022/Iterables/iterables.ipynb#scrollTo=C45Ny6IznwGu)

# Containers

*Prepared by [Katarina Nastou](https://www.cpr.ku.dk/staff/?pure=en/persons/672471)*

*Note: This notebook's contents have been adapted from Colt Steele's slides used in "[Modern Python 3 Bootcamp Course](https://www.udemy.com/course/the-modern-python3-bootcamp/)" on Udemy*

## Overview

- [Lists](#Lists)
- [Sets](#Sets)
- [Dictionaries](#Dictionaries)
- [Tuples](#Tuples)

# Containers
You were previously introduced to the following basic data types in Python: ``Boolean``, ``int``, ``float`` and ``str``. There are more fundamental data structures in Python which you will learn about in this notebook. 

These collections of data types are like containers that can contain several items or elements. In particular, this notebook covers:

* ``list``
* ``set``
* ``dictionary``
* ``tuple``

# Lists

> A list is a container of ordered items that can be accessed by their index.

* To create an empty list:
    * use square bracets ``[]``
* To create a list with conent:
    * use square bracets and specify the items separated by comma    
    * use the built-in fuction ``list()`` on an object that can be converted into a list, i.e. a set.

In [ ]:
tasks = ["Install Python", "Learn Python", "Take a break"]

* To find out how many elements there are in a list, you can use the built-in function ``len``.

In [ ]:
len(tasks)

## Accessing values in a ``list``

The elements in a list are ordered and they can be accessed by their index. Lists start counting at ``0``,  i.e. the first element in your list lives at the index position ``0``.

In [ ]:
friends = ["Ashley", "Matt", "Michael"]
print(friends[0]) 
print(friends[2]) 
print(friends[3]) # IndexError

**To access values from the end**, you can use a negative number to index backwards:

In [ ]:
friends = ["Ashley", "Matt", "Michael"]
print(friends[-1]) 
print(friends[-3]) 
print(friends[-4]) # IndexError

**To check if a value is in a list**, you can use the ``in`` operator:

In [ ]:
friends = ["Ashley", "Matt", "Michael"]
print("Ashley" in friends) 
print("Jason" in friends)
print("ashley" in friends)

### Exercise 1
1. Define a list called `random_things` that is at least 4 elements long.  The data is completely up to you, but it must contain at least 1 `str` and 1 `float`. 
2. Use the ``len`` function to check if your list is indeed 4 elements long.

In [ ]:
# your code goes here

### Exercise 2

2.1. In the list people:

* extract the first element
* extract the element with index 1
* extract the last element

2.2 The list contains a few spelling errors. Correct the entries in the list **by accessing an element by its index** and assigning a new string.

* Change "Petre" to "Peter"
* Change "Monika" to "Monica"
* Change "george" to "George" (capitalize it)

In [ ]:
# DON'T CHANGE ANYTHING UP HERE!
people = ["Petre","Joanna","Louis","Angie","Monika","george"]
# DON'T CHANGE ANYTHING UP HERE!
print(people)

['Petre', 'Joanna', 'Louis', 'Angie', 'Monika', 'george']

In [ ]:
# your code goes here

##Slicing

**To access several elements at once**, you use a technique called _slicing:_

```python
    some_list[start:end:step]
```

1. **First parameter:** ``start``  
Tell Python which index to start slicing from. If you enter a negative number, it will start the slice back from the end.

In [ ]:
first_list = [1, 2, 3, 4, 5, 6, 7]

# slice starting from index 1 (this is the second element in the list)
print(first_list[1:])

# slice starting from index 3
print(first_list[3:]) 

# slice starting from third element from the back
print(first_list[-3:])

[2, 3, 4, 5, 6, 7]
[4, 5, 6, 7]
[5, 6, 7]

2. **Second parameter:** ``end``  
Specifies up to which index to extract data from (excluding the index itself!). Negative numbers specify how many items to exclude from the end (i.e. indexing by counting backwards).

In [ ]:
# slice up to (but excluding) index 2, which is the third element (remember the first element has index 0)
print(first_list[:2]) 

# slice starting from index 1 up to (but excluding) index 4
print(first_list[1:4]) 

# slice up to the (but excluding) the last element
# = the first element from the end
print(first_list[:-1])

[1, 2]
[2, 3, 4]
[1, 2, 3, 4, 5, 6]

3. **Third parameter:** ``step``  
The ``step`` parameter indicates the increment. E.g. a step of ``2`` only extracts every second number in the list. We can reverse the order by using negative values for the ``step`` parameter.

In [ ]:
# access entire list from start to end, but only count every other element
print(first_list[::2])

# start at index 1 and count backwards
print(first_list[1::-1])
      
# access list from the end and count backwards
print(first_list[:1:-1])

[1, 3, 5, 7]
[2, 1]
[7, 6, 5, 4, 3]

##Exercise 3: Slicing

```python
data = [1, 2, 3, 'four', 'five', 6.0, 7.0, 8.0, True]
```

1.1 From the list data, extract all the integer values (the first 3 elements) using slicing. You do not specifically need to search for integers, extract them by using their index.

1.2 Extract the two strings.

1.3 Extract the floats.

1.4 Extract every third element. 

1.5 Extract the floats and reverse their order, i.e. you should get [8.0, 7.0, 6.0]

## Nested Lists
Lists can contain any kind of element, even other lists!
To access an element in a sublist of a list, you first need to access the sublist by its index and then the element in the sublist by its index.

In [ ]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(nested_list[0])
print(nested_list[0][1]) # access 2

[1, 2, 3]
2

## Note on slicing
The same slicing techniques that work for lists, also work for strings. You can access individual characters in a string and define a ``start``, ``stop`` and ``step`` parameter when slicing strings: ``some_string[start:end:step]``.

In [ ]:
s = 'Hello World!'
print(s[5:])
print(s[0])
print(s[3:-3])

 World!
H
lo Wor

This slice reverses the string or list it is used on:

```
my_string = "Hello World!"
print(my_string[::-1])
```

In [ ]:
my_string = "Hello World!"
print(my_string[::-1]) # prints string backwards!

!nuf si gnimmargorP

## List Methods

Working with lists is very common - there are quite a few things we can do!

**Adding elements to a list:**
* ``append``: add an item to the end of the list.
* ``extend``: add to the end of a list all values passed to extend.
* ``insert``: insert an item at a given position.

In [ ]:
first_list = [1, 2, 3, 4]

In [ ]:
# append
first_list.append(5)
print(first_list)

[1, 2, 3, 4, 5]

In [ ]:
# but careful with this one!
first_list.append([5,6])
print(first_list)

[1, 2, 3, 4, 5, [5, 6]]

In [ ]:
# extend
correct_list = [1, 2, 3, 4]
correct_list.extend([5, 6, 7, 8])
print(correct_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# insert
first_list = [1, 2, 3, 4]
first_list.insert(2, 'Hi!') 
print(first_list)

[1, 2, 'Hi!', 3, 4]

**Removing elements from a list:**
* ``clear``: remove all items from a list.
* ``pop``
    - Remove the item at the given position in the list, and return it.
    - If no index is specified, removes & returns last item in the list.
* ``remove``
    - Remove the first item from the list whose value is x. 
    - Throws a `ValueError` if the item is not found.
* ``del``: deletes a value from a list.

In [ ]:
# clear
first_list = [1, 2, 3, 4]
first_list.clear()
print(first_list)

[]

In [ ]:
# pop
first_list = [1, 2, 3, 4]
last_item = first_list.pop() 
print(last_item)
second_item = first_list.pop(1) 
print(second_item)

# the elements are then not in the list anymore
print(first_list)

4
2
[1, 3]

In [ ]:
# remove
first_list = [1, 2, 3, 4, 4, 4]
first_list.remove(2)
print(first_list)
first_list.remove(4)
print(first_list)

[1, 3, 4, 4, 4]
[1, 3, 4, 4]

In [ ]:
# del 
first_list = [1, 2, 3, 4]
del first_list[3]
print(first_list)
del first_list[1]
print(first_list)

[1, 2, 3]
[1, 3]

**Other list methods:**
* `index`: returns the index of the specified item in the list.
* `count`: return the number of times x appears in the list.
* `reverse`: reverse the elements of the list (in-place).
* `sort`: sort the items of the list (in-place).

In [ ]:
# index
letters = ["a", "a", "b", "z", "l", "i", "k", "a", "o"]

# find the index of the first time the letter "a" appears in the list
print(letters.index("a")) 

# find the index of the first time the letter "a" appears in between indices 6 and 8 
print(letters.index("a", 6, 8))

0
7

In [ ]:
# count
numbers = [1, 2, 3, 4, 3, 2, 1, 4, 10, 2]

# count how often 2 appears in the list
print(numbers.count(2))

# count how often 21 appears in the list
print(numbers.count(21))

3
0

In [ ]:
# reverse
first_list = [1, 2, 3, 4]
first_list.reverse()
print(first_list)

[4, 3, 2, 1]

In [ ]:
# sort
another_list = [6, 4, 1, 2, 5]
another_list.sort()
print(another_list)

[1, 2, 4, 5, 6]

### Exercise 4

4.1 Create an empty list called instructors

4.2 Add the following strings to the instructors list: 
* "Marc"
* "Rita"
* "Henry"

4.3 Remove the last value in the list.

4.4 Remove the first value in the list and return it.
 
4.5 Add the string "Done" to the beginning of the list. Print to make sure you did this right

### Exercise 5: Quiz
1. Question: What method here does not add one or more elements to a list?
    1. extend
    2. add
    3. append  
    4. insert

2. Question: Given a list `numbers = [1,2,3]` how would you access the first element in the list?

3. Question: Given a list `numbers = [1,2,3]` what would the result of `numbers.pop(5)` be?
    
    1. `None`
    2. `IndexError`
    3. `3`

4. Question: Which of the following is not true about lists:
    1. You can only store basic data types in it 
    2. The index starts at 1
    3. They are collections of elements

# Sets

> A set is collection of unqiue, unordered, unchangeable, and unindexed elements.

* To create an empty set:
    * use curly bracets ``{}``.
* To create a set with content:
    * use curly bracets and specify the items separated by comma.    
    * use the built-in method ``set()`` on an object that can be converted into a set, i.e a list.
* **Unique elements:** Each element in a set can only appear once.
* **Unordered and unindexed elements:** In a set, you cannot know in which order the elements might appear. Since the elements can appear in any order, they do not have an index and you therefore cannot access the elements of a set by an index.
* **Unchangeable elements:** You cannot change or update the elements of a set, but you can add and remove items.

In [ ]:
# create a set
number_set = {1,2,3}
print(type(number_set))

<class 'set'>

### Set methods
You can use the following methods on sets (among others):

* ``add``: add an element to the set
* ``remove``: remove a specified element from the set and returns this element

`pop()` is defined on sets but generally not useful since it removes and returns an __arbritrary but non-random__ item. Sets are by definition unordered, however when we print a set items do appear in a certain, non-random order which is the order of the hash table that python uses to store the set. This order is not necessarily deterministic and **neither** the order in which items were added nor sorted in an alphanumerical way. In other words, the user has __little to no influence__ over this order and cannot rely on it (and they need not since sets are unordered containers). Therefore, pop on sets is widely considered unuseful.

In [ ]:
# add a number to the set
number_set.add(4)
print(number_set)

{1, 2, 3, 4}

In [ ]:
# remove the number again
number_set.remove(4)
print(number_set)

{1, 2, 3}

Other set methods include:

* ``difference``: return the difference between two or more sets
* ``intersection``: returns the intersection between two or more sets 
* ``union``: returns set containing the union of two or more sets

In [ ]:
# create two sets
first_set = {1,2,3}
second_set = {2,3,4,5}

In [ ]:
# difference
print(first_set.difference(second_set))
print(second_set.difference(first_set))

{1}
{4, 5}

In [ ]:
# intersection
first_set.intersection(second_set)

{2, 3}

In [ ]:
# union
first_set.union(second_set)

{1, 2, 3, 4, 5}

## Exercise 6

1. Examine the three examples below: Is there a difference between case a) and case b)? 

**Example 1:**
```python
first_set.difference(second_set)     # case a)
second_set.difference(first_set)     # case b)
```

**Example 2:**
```python
first_set.intersection(second_set)     # case a)
second_set.intersection(first_set)     # case b)
```

**Example 3:**
```python
first_set.union(second_set)     # case a)
second_set.union(first_set)     # case b)
```

2. Can you think of a use case in which it makes more sense to use a ``set`` than a ``list``? And vice versa: when does it make more sense to use a ``list`` instead of a ``set``?

In [ ]:
# your code goes here

# Dictionaries

> A dictionary stores (key, value) pairs.

- Dictionaries are ordered by insertion order since `Python 3.5`.
- Dictionary values are accessed by keys.
- Each key in the dictionary is unique and duplicates are not allowed.

In [1]:
# define dictionary
city_population = {
    'Tokyo': 13350000, # a key-value pair
    'Los Angeles': 18550000,
    'New York City': 8400000,
    'San Francisco': 1837442,
}

# display dictionary
city_population

{'Los Angeles': 18550000,
 'New York City': 8400000,
 'San Francisco': 1837442,
 'Tokyo': 13350000}

In [2]:
import pandas as pd

In [5]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)

In [6]:
df

   col1  col2
0     1     3
1     2     4

In [7]:
df2 = df

In [11]:
df.drop([0], inplace = True)

In [12]:
df

   col1  col2
1     2     4

In [13]:
df2

   col1  col2
1     2     4

In [ ]:
# access the value for the key 'New York City'
print(city_population['New York City'])

8400000

In [ ]:
# access the value for the key 'Copenhagen'
print(city_population['Copenhagen'])

**Change values** by specifying the key and using the `=` operator:

In [ ]:
city_population['New York City'] = 73847834
city_population

{'Los Angeles': 18550000,
 'New York City': 73847834,
 'San Francisco': 1837442,
 'Tokyo': 13350000}

**To add a new (key, value) pair**, you can choose between different ways:

In [ ]:
# using the = operator
city_population['Copenhagen'] = 1000000

# using the update method
city_population.update({'Barcelona': 5000000})

city_population

{'Barcelona': 5000000,
 'Copenhagen': 1000000,
 'Los Angeles': 18550000,
 'New York City': 73847834,
 'San Francisco': 1837442,
 'Tokyo': 13350000}

**A dictionary can hold complex data types as values:**

In [ ]:
food = {"fruits": ["apple", "orange"], "vegetables": ["chicken", "coliflower"]}

In [ ]:
# access the value of the key "fruits"
print(food["fruits"])

# access element at index 0 in the list
print(food["fruits"][0])

['apple', 'orange']
apple

**To return all items of a dictionary:**

In [ ]:
food.items()

dict_items([('fruits', ['apple', 'orange']), ('vegetables', ['chicken', 'coliflower'])])

**To remove a (key, value) pair from the dictionary:**

In [ ]:
del food['vegetables']

In [ ]:
food.items()

dict_items([('fruits', ['apple', 'orange'])])

### Exercises 7

1. Create a dictionary with 4 elements.

2. List the keys in the dictionary.

3. List the values in the dictionary.

4. Create a dictionary of cites in certain countries. The key should be a country and the value should be (non-exhaustive) list of cities in that country.
Aaccess one of the keys and one of the values in the list.

5. Add another country and its list of cities.

6. Remove one of the countries and its elements.

# Tuples

> A tuple is an (immutable) ordered list of values. 

* To create a tuple, use round brackets ``()``.
* "Immutable" means that the elements of a tuple can only be accessed, but _not changed._
* Tuples can be used as keys in dictionaries and as elements of sets (lists cannot!).

In [ ]:
# create a tuple
t = (5, 6)       

# equal formulation 
# t = 5, 6       

t

(5, 6)

Tuples are useful for instance as keys in dictionaries:

In [ ]:
# use tuples as dictionary keys
grades = {("Niels", "Jensen"): 3.0, ("Morten", "Schubert"): 2.8, ("Niels", "Christiansen"): 4.2}
grades[("Niels", "Jensen")]

3.0