<img src="https://github.com/Center-for-Health-Data-Science/PythonTsunami/blob/spring2022/figures/HeaDS_logo_large_withTitle.png?raw=1" width="300">

<img src="https://github.com/Center-for-Health-Data-Science/PythonTsunami/blob/spring2022/figures/tsunami_logo.PNG?raw=1" width="600">

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Center-for-Health-Data-Science/PythonTsunami/blob/spring2022/Variables_data_types/variables.ipynb)

# Variables and Data Types

*Prepared by [Katarina Nastou](https://www.cpr.ku.dk/staff/?pure=en/persons/672471) and edited by [Marilena Hohmann](https://heads.ku.dk/team/)*.

*Note: This notebook's contents have been adapted from Colt Steele's slides used in "[Modern Python 3 Bootcamp Course](https://www.udemy.com/course/the-modern-python3-bootcamp/)" on Udemy*

## For (anonymous) questions
If there are any questions you'd like to ask anonymously, post them to this [Padlet link](https://ucph.padlet.org/marilenahohmann/m0wsjjprswzsi1ji).

## Variable Assignment

> A variable is a named symbol that holds a value.

* Create variables by assigning a value to a name (just like using variables in math).
* Variable names should be meaningful, i.e. not just ``a``, ``b``, ``c``
* Variables are always **assigned** with the variable name on the left and the value on the right of the ***equals*** sign. For instance:
        
    * `a_variable = 100`  
    * assigned to other variables: `another_variable = a_variable`
    * reassigned at any time: `a_variable = 435` 
    * assigned at the same time as other variables: `all, at, once = 1, 130, 43`

* Variables must be assigned before they can be used.

In [ ]:
x = 100

In [ ]:
print(x)

100

## Naming Restrictions

In Python, you can name your variables whatever you want, with some restrictions:

1. Variables must start with a letter or underscore:  
    * `_yes`: Valid name.  
    * `2no`: Not valid!  
   
2. The rest of the name must consist of letters, numbers, or underscores:  
    * `yes2`: Valid name.   
    * `hey@no`: Not valid!   
    
3. Names are case-sensitive  
    * `Yes` and `yes` are two _different_ variables.

In [ ]:
# try it out

## Data Types

In any assignment, the assigned value must always be a valid data type.

Python data types include (among others):
- numbers:
    - `int`: an integer, e.g. `1`, `2`, `3`
    - `float`: a floating point number with a decimal point, e.g. `1.2`, `2999.197`, `-160.8`
- `str`: (string) a sequence of Unicode characters, e.g. "Kate" or "程序设计"
- `bool`: True or False

In [ ]:
# try it out
var = -1
var

-1

In [ ]:
var2 = -2.099874565
var2

-2.099874565

In [ ]:
my_string = "Hello world!"
my_string

'Hello world!'

In [ ]:
bool_var = True
bool_var

True

## Dynamic Typing

In Python variables can change types readily, something called **dynamic typing**! Test it with the 4 code blocks below.

In [ ]:
variable1 = True
print(variable1)

True

In [ ]:
variable1 = "Hello!"
print(variable1)

Hello!

In [ ]:
variable1 = 22 / 7
print(variable1)

3.142857142857143

Question: Is the following valid Python code?

```    
    i_am_string = "hello world"
    
    i_am_string = 73 
    
    i_am_string = True
```

In [ ]:
# try it out

### Exercise

Try out dynamic typing. For instance, create a variable, assign a string and print it out: 
```python
name = "Lisa"
print(name)
```
Then, change the value of name to a different name, and add another variable for the surname:

```python
Name = "Bill"
print(name)

```

In [ ]:
# try it out

# Numbers and Operators

## Numbers
Two main types of numbers:
- Integers: `56, 3, -90`
- Floating Points: `5.666, 0.0, -8.9`
    
## Math Operators 
- addition: `+`
- subtraction: `-`
- multiplication: `*`
- division: `/`
- integer division: `//`
- exponentiation, power: `**`
- modulo: `%`

In [ ]:
# try it out

### Questions: Ints and Floats

- Question 1: What type does the following expression result in? 

```python
3.0 + 5
```

In [ ]:
# try it out

### Questions: Operators
- Question 2: How can we add parenthesis to the following expression to make it equal 100? 
```python
1 + 9 * 10
```

- Question 3: What is the result of the following expression?
```python
4 + 13 * 2 + 4 * 5
```

- Question 4: What is the result of the following expression
```python
5 * 9 / 4 ** 3 - 6 * 7
```

- Question 5: What is the result of running this code? 

```python
15 / 3 * 2 # + 1 
```

- Question 6: Which of the following result in integers in Python? 
        (a) 8 / 2
        (b) 3 // 2 
        (c) 4.5 * 2

- Question 7: What is the result of `18 // 3` ?

- Question 8: What is the result of `121 % 7` ?

## Exercise 1: ``int`` and ``float``
1. Use an ``int`` value of your choice and store it in a variable. Multiply that variable by ``2``and print this new variable.
2. Use a second ``int`` value of your choice and multiply it with the initial variable used in 1).
3. Square the ``int``s from 1) and 2).

### Note

Check out also the [math library](https://docs.python.org/3/library/math.html) in Python. You can use this library for more complex operations with numbers. Just import the library and try it out:

```python

import math

print(math.sqrt(25))

print(math.log10(10))
```

# Strings

> Strings are containers of characters.

There are different _encodings_ for characters. The default in Python 3 is the Unicode encoding which includes characters from European and Asian languages.

### Declaring strings

String literals in Python can be declared with either single or double quotes.
    
    my_other_str = 'a hat'
    my_str = "a cat"


Either one is perfectly fine; but make sure you stick to the same convention throughout the same file.

In [ ]:
# try it out

### String Escape Characters

In Python there are also "escape characters", which are "metacharacters" - they get interpreted by Python to do something special. All escape characters start with a backslash `\`:

In [ ]:
new_line = "hello \n world"
print(new_line)

hello
 world

**Question:** What will happen in the following cases?
```
names = "Megan\nTrevor"
names2 = 'Megan\nTrevor'
greeting = "hello "Megan""
greeting2 = "hello 'Megan'"

```

### String Concatenation

Concatenation is combining multiple strings together. In Python you can do this simply with the "+" operator.

In [ ]:
str_one = "your"
str_two = "face"
str_three = str_one + " " + str_two 
print(str_three)

your face

You can also use the "+=" operator!

In [ ]:
str_one = "ice"
str_one += " cream"
str_one
print(str_one)

ice cream

### Formatting strings

There are also several ways to format strings in Python to interpolate variables. In the Python version we use (Python 3.6+), strings are formatted by using **F-Strings**:

In [ ]:
x = 10
formatted = f"I've told you {x} times already!"
print(formatted)

I've told you 10 times already!

## Exercises

### Exercise 2

2.1 Create a new variable ``message`` and set it equal to a string containing a new line.

2.2 Create a new variable ``mountains``. Assign a string to this variable so that it results in /\/\/\ when printed. _Hint:_ You will need to use an escape sequence more than once!

2.3 Create a new variable ``quotation`` and set it to any string that contains an escaped double quotation mark.

### Exercise 3
3.1 Set the variable called ``greeting`` to some greeting, e.g. "hello".

3.2 Set the variable called ``name`` to some name, e.g. "Moto". 

3.3 Then set the variable called ``greet_name``  that concatenates greeting , name , and a space " " between them.

In [ ]:
greeting = ""

name = ""

space = ""

greet_name = "Change me!"
print(greet_name)

Change me!

### Exercise 4
4.1 Set the variable ``first`` to your first name.

4.2 Set the variable ``last`` to your last name.

4.3 Set the variable ``name`` to a combination of ``first`` and ``last`` using the f-string method. Follow this pattern: ```First Name: Mary, Last Name: Poppins```

In [ ]:
first = ""
last = ""
name = ""

## Converting Data Types

You can also convert variables by using the name of the built-in type as a function (more on functions later):

In [ ]:
# convert an float value into an int value
decimal = 12.56345634534
integer = int(decimal) 
print(integer)

12

In [ ]:
# to check what data type a variable is, you can use the type() function
print(type(integer))

<class 'int'>

In [ ]:
# convert an int value into a string representation 
string = str(integer)
print(string)

12

In [ ]:
# check the data type
print(type(string))

<class 'str'>

## Quiz

##### Question 1
True or False: Variables must be assigned before they can be used.

##### Question 2:
Variables can be: 

1. assigned to other variables,

2. reassigned at any time,

3. assigned at the same time as other variables, 

4. all of the above.

##### Question 3
Is `24hrs`  a valid variable name?

##### Question 4
Is `my_1st_variable`  a valid variable name?

##### Question 5
What values can the `Boolean` data type hold?

##### Question 6
True or False. The following is a valid string in Python 3: `الثعبان`

##### Question 7
What does it mean that Python is a dynamically-typed language?

##### Question 8
What does the modulo ``%`` operator do?

##### Question 9
What is the difference between ``int`` and ``float`` numbers?

# Reading error messages

Let's talk about error messages! They look red and scary, but they're actually just here to help you. Error messages tell you that you are trying to do something that is either not allowed, not possible, ambiguous, not meaningful or written using the wrong syntax.  
  
You will encounter error messages **ALL THE TIME**; especially when learning to program, but also as an advanced programmer. That's why it's worth knowing how the read them. 


***
Look at the error message below. You can find the most important piece of information **on the last line: this is the actual error** and this is where you should always look first. In the part above the last line, you can see in which line of your program the error occurs in. 

```python
---------------------------------------------------------------------------
ZeroDivisionError                         Traceback (most recent call last)
<ipython-input-10-bc757c3fda29> in <module>
----> 1 1 / 0                                     # the arrow points towards the line where the error occurs

ZeroDivisionError: division by zero               # this is the actual type of error
```

In [ ]:
# let's see what types of error messages there are

In [ ]:
i

NameError: name 'i' is not defined

In [ ]:
1 / 0

ZeroDivisionError: division by zero

In [ ]:
1 %% 2

SyntaxError: invalid syntax (<ipython-input-29-0165dc641888>, line 1)

In [ ]:
my_string = "Hello world!"
my_string + 1

TypeError: can only concatenate str (not "int") to str