<img src="../figures/HeaDS_logo_large_withTitle.png" width="300">

<img src="../figures/tsunami_logo.PNG" width="600">

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Center-for-Health-Data-Science/PythonTsunami/blob/fall2021/Variables_and_data_types/recap.ipynb)

# Recap Python Day 1
**Congratulations!** 

You learned a whole lot of new programming concepts and skills over the last two days. 
To kick off the final day of of this Python course, we will start by recaping some of the most important concepts.

## Recap Quiz

Use the next 45 minutes on the quiz below. Work together with the people at your table and discuss your answers. Add code cells and try the code written in the question if you are unsure.

**Question 1**  
Can you explain what happens to ``var`` in each step the example below? What type is ``var`` at the end of the program?
```python
var = 1
var *= 100
var /= 2
var = int(var)
var = str(var)
var = var + " points to Gryffindor!"
print(var)
```

**Question 2**  
What is the loop below printing at each iteration?
  
```python
scand = ["Denmark", "Finnland", "Sweden", "Norway"]

for index, country in enumerate(scand):
    if country != "Finnland":
        print(f"My #{index+1} favorite country in Scandinavia is {country}.")
    
    else:
        print("Sorry, but Finnland is not part of Scandinavia.")
        break
```

**Question 3**  
Consider the scenarios A-C below. Which Python data structure would you use to solve them?

**A.** You have all names of the participants in this course. You want to store them in a variable that perserves the order in which the participants signed up for the course.  

**B.** You have (a) all names of the participants in this course, and (b) the names of everyone who is currently employed at SUND. Next, you want to find all employees who DID NOT participate in the course. Which data structure would you store (a) and (b) in to achieve this? And bonus question: How would you achieve it? 

**C.** You want to store information about all capital cities in Europe and the number of their inhabitants. Since the numbers might change, you want to make sure that you can update the information at any time.

**Question 4**

Does the expression used in the `if` below evaluate to `True` or `False`? Can you explain why? Can you change it to make it `False`?

In [1]:
smoker = False
patient_age = 50

if (not smoker and patient_age < 65):
    print('Include in study')

Include in study

**Question 5**  
Explain the errors below, and change the code to fix them.

In [ ]:
# error 1
75 * (2/0)

In [ ]:
# error 2
weather = ["sunny", "cloudy", "rainy"]
weather[4]

In [ ]:
# error 3
university = "ucph"
typ(university)

In [ ]:
# error 4
if "c" in university:
print(f"I work at {university.upper()}.")

In [ ]:
# error 5
print(hello_world)

**Question 6**

Consider the data frame below. How do you:

1. Create a new dataframe with only the treatment, age and satisfaction columns?
2. Calculate the mean age?
3. Extract all rows with patients older than 70?
4. Omit rows with missing data?

In [19]:
#defining the dataframe
import pandas as pd

data = [
    ['402109','A','Rigshospitalet',15,68,3],
    ['092070','A','Rigshospitalet',13,74,5],
    ['994082','B','Herlev',27,76,2],
    ['843094','A','Herlev',30,65,5],
    ['369360','B','Rigshospitalet',21,68,5],
    ['688213','B','Rigshospitalet',29,77,3],
    ['197347','A','Herlev',25,65,5],
    ['374793','A','Rigshospitalet', None, 67,5],
    ['759063','B','Rigshospitalet',16,75,4],
    ['121219','B',None,27,68,4],
    ['427898','B','Rigshospitalet',15,74,5]
]

df = pd.DataFrame(data, columns=['patient_id', 'treatment', 'hospital', 'convalescence_days' ,'age', 'satisfaction'])
df

   patient_id treatment        hospital  convalescence_days  age  satisfaction
0      402109         A  Rigshospitalet                15.0   68             3
1      092070         A  Rigshospitalet                13.0   74             5
2      994082         B          Herlev                27.0   76             2
3      843094         A          Herlev                30.0   65             5
4      369360         B  Rigshospitalet                21.0   68             5
5      688213         B  Rigshospitalet                29.0   77             3
6      197347         A          Herlev                25.0   65             5
7      374793         A  Rigshospitalet                 NaN   67             5
8      759063         B  Rigshospitalet                16.0   75             4
9      121219         B            None                27.0   68             4
10     427898         B  Rigshospitalet                15.0   74             5

In [ ]:
#your answers here

## To sum it up...

...here are the most important take-away points:


#### Variables
A variable is a named symbol that holds a value.  
  
  
#### Data Types and Structures

* ``int``: zero, positive or negative whole number 
```python
int_example = 1
```
  
* ``float``: zero, positive or negative number with a decimal point
```python
float_example = 34.6
```
* ``str``: containers of characters.  
```python
str_example = "I am a string!"
```
* ``list``: container of ordered items that can be accessed by their index
```python
list_example = ["element", 1, 2, "another_element"]
```
* ``set``: collection of unqiue, unordered, unchangeable, and unindexed elements
```python
list_example = ["element", 1, 2, "another_element"]
```
* ``dict``: stores (key, value) pairs
```python
dict_example = ["apple":1, "cherry":20, "strawberry":10]
```
* ``tuple``: immutable, ordered list of values
```python
tuple_example = (1,20,78,5)
```
* ``bool``: can only take the values `True` or `False`
```python
bool_example = True
```


#### Indexing and Slicing
Indexing and slicing: Both the characters in a string and the elements in a list can be accessed by their index. In Python, indexing always starts with 0, i.e. the first element of a list lives at index position 0. To access values in a string or list, we can use the slicing notation ``[start, end, step]``:
```python
list_example[1:3] # access the element of index 1 and 2
```

####  Comparison Operators and Boolean Logic
Comparison operators can tell how two Python values relate, resulting in a boolean. They answer yes/no questions.

#### Conditional Statements
Conditional statements use the keywords ``if``, ``elif`` and ``else``. They are used to control a piece of code based on the value of a Boolean condition.

```python
num_example = # you define a number here

if num_example % 2:
    print(f"{num_example} is an odd number.")
else:
    print(f"{num_example} is an even number.")
```



#### Loops
Loops allow you to repeatedly execute a piece of code. You can control the flow of your loop with the statements ``break``, ``continue`` and ``pass``.
  
``for`` loops repeat the code you want to run for each variable in the sequence you loop over.  
```python
number_list = [1, 2, 3, 4, 5]
for number in number_list:
    print(number)
```
  
``while`` loops continue to execute while a certain condition is ``True``, and ends once this conditions becomes ``False``.
```python
i = 0
while i < 10:
    i += 1
    print(i)
```